@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lora:wght@400;500;600;700&family=Nunito:wght@200&display=swap");
#About {
  margin: 0rem 3rem 0rem 3rem;
  overflow: hidden;
}
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-header {
  font-family: "Lora", "sans";
  font-weight: 700;
  text-align: center;
  color: #ffff;
}
.about-subheader, .about-texts {
  font-family: 'Lora', 'sans';
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #ffff;
}
.about--count{
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.8);
  padding: .5rem .5rem ;
  margin-top: 2rem  ;
}
.speakers-number{
  text-align: center;
  justify-content: center ;
  padding-top: 1rem;
  background: #FFBC01;
  border-radius: 50%;
  font-size: 15px;
  width: 60px;
  height: 42px;
  color: #FFFFFF;
}
p{
  color: #FFFFFF;
}
.speaker{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  margin-top: 1.5rem;
}

@media screen and (max-width: 769px) {
    .about-subheader, .about-texts{
        text-align: justify;
        margin-top: .4rem;
        font-size: 20px;
    }
  }
  @media screen and (max-width: 640px) {
    .about-subheader{
        display: none;    
    }
    .about-subheader, .about-texts{
        text-align: justify;
        margin-top: .8rem;
        font-size: 10px;
    }
    .about--count{
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      background: rgba(0, 0, 0, 0.8);
      grid-column-gap: 6rem;
      padding: .5rem 1.5rem ;
    }
    .speaker h4{
      font-size: 13px;
    }
}
