#footer {
  margin: 3rem 3rem 0rem 3rem;
  padding: 0.5rem;
}

.footer--section {
  display: flex;
  justify-content: space-between;
}
.footer-details {
  padding: auto;
}
.footer-contact-text {
  text-align: center;
}
.newsletter {
  display: flex;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 80%;
  margin: 1rem 0;
}
input {
  border: none;
  background: rgba(255, 255, 255, 1);
  padding: 0.5rem;
  height: auto;
  border-radius: 2px;
}
.subscribe {
  background: rgba(174, 134, 37, 1);
  margin: 0.3rem;
  padding: 0.4rem;
  color: rgba(255, 255, 255, 1);
  border-radius: 2px;
}
.footer-head {
  font-family: "Nunito";
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 1rem;
}
.footer--text {
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(174, 134, 37, 1);
}
hr{
    margin-top: 1rem;
    border:1px solid rgba(255, 188, 1, 1);
}
.footer-copy{
    display: flex;
    justify-content: space-between;
}