#footer {
  margin: 3rem 3rem 0rem 3rem;
  padding: 0.5rem;
}

.footer--section {
  display: flex;
  justify-content: space-between;
}
.footer-details {
  padding: auto;
}
.footer-contact {
  /* border: 1px solid white; */
}
.newsletter {
  display: flex;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 80%;
  margin: 1rem 0;
}
.footer--input {
  border: none;
  background: rgba(255, 255, 255, 1);
  padding: 0.5rem;
  height: auto;
  border-radius: 2px;
}
.subscribe {
  background: rgba(174, 134, 37, 1);
  margin: 0.3rem;
  padding: 0.4rem;
  color: rgba(255, 255, 255, 1);
  border-radius: 2px;
}
.footer-head {
  font-family: "Nunito";
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  margin-top: 1rem;
}
.footer--text {
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: rgba(174, 134, 37, 1);
}
hr {
  margin-top: 1rem;
  border: 1px solid rgba(255, 188, 1, 1);
}
.footer-copy {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin: 0.5rem 2rem;
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
}
.social-icons {
  display: flex;
  /* padding-right: .5rem; */
}
.icons {
  padding-right: 0.5rem;
}

@media screen and (max-width: 769px) {
  .footer--section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-copy {
    margin: 0.5rem 0rem;
    font-weight: 200;
  }
  .footer-contact {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .footer--section {
    display: block;
    justify-content: space-between;
  }
  .footer--text {
    font-family: "Nunito";
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    color: rgb(239, 237, 232);
  }
  .footer-head {
    font-family: "Nunito";
    font-size: 22px;
    font-weight: 400;
  }
  #footer {
    margin: 2rem 1rem 0rem 1rem;
  }
  .newsletter {
    display: none;
  }
  .footer-copy {
    display: block;
    text-align: center;
    align-items: center;
    color: #ffffff;
    margin: 0.5rem 0rem;
    font-family: "Nunito";
    font-size: 18px;
    font-weight: 200;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: center;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* padding-right: .5rem; */
  }
}
