@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Lora:wght@400;500;600;700&display=swap');


section{
    background: rgba(0, 0, 0, 0.8);
    margin: 2rem 3rem;
    display: flex;
    flex-direction: column;
}
#hero{
    display: flex;
    justify-content: space-between;
    padding: 2rem .5rem;
}
.hero-text{
    font-family: 'Lora';
    font-weight: '200';
    font-size: 15px;
    color: #FFFFFF;
    width: 50%;
}
.yellow{
    color: #ffbc01;
}
#register-1{
    display: flex;
    margin-top: 1rem;
}
.heroimg{
    display: flex;
    justify-content: center;
    align-items: center; display: flex;
    justify-content: center;
    align-items: center;
}
.heroimage{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#attendee2{
    display: none;
}

@media screen and (max-width: 769px) {
    section{
        margin: 2rem 0;
    }
    #hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem .5rem;
    }
    .hero-text{
        text-align: center;
        width: 70%;
    }
    #register-1{
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }
  }
  @media screen and (max-width: 640px) {
    #register-1{
       display: none;
    }
     .hero-text{
        text-align: center;
        width: 90%;
    }
    #attendee2{
        display: block;
        background: #ffbc01;
        padding: 1rem;
        border-radius: 4px;
        margin: 2rem 0;
        font-style: normal;
        font-family: 'Lora';
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;

    }
  }
  