.App {
  text-align: center;
  overflow-x: hidden;
}
body {
  background: #1e1b1b;
  overflow-x: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media screen and (min-width: 1500px) {
  body{
    background: #ffbc01;
    /* position: relative; */
  }
  main {
    background: #1e1b1b;
    position: absolute;
    top: 630%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
  }
  #nomineesDetails {
    display: grid;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
  }
 .gallery-image{
  /* border: 1px solid red; */
  margin:2rem 10rem;
 }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
